body {
  background-image: url("math.jpg");
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 45px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 40px;
}

h4 {
  color: white;
  text-align: center;
}

#totaal,
#totaalbmi {
  color: rgba(0, 0, 0);
  font-size: 40px;
}

div {
  text-align: center;
}

p {
  color: white;
}

label {
  color: white;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: black;
}

